
* {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

#bar-warp{
    width:500px;
    height:30px;
    border:1px solid #2698df;
    position: absolute;
    left: calc(50% - 250px);
    top: 60%;
    display: flex;
}
#bar{
    width:0;
    height:30px;
    background-color: #2698df;
    transition: all 0.5s;
}

#precent {
    position: absolute;
    line-height: 32px;
    top: 0;
    left: 505px;
}
#Mul-select{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#header {
    position: relative;
    height: 56px;
    width: 100%;
    background: #f3f3f3;
}

#nav1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    line-height: 56px;
    background: #fff;
    font-size: 24px;
    font-family: 幼圆, serif;
    z-index: 9;
    border-color: #f0f0f0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
}

#tit {
    font-size: 2em;
    font-family: "Agency FB", serif;
    font-weight: bold;
    color: #2698df;
    text-align: start;
    margin-left: 100px;
}

.pic {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 7px 7px 30px #bdbdbd, -7px -7px 30px #ffffff;
    text-align: center
}

.pic:hover .delpic {
    top: 7px;
}

.pic p {
    width: 80%;
    margin: 10px auto;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #5f5f5f;
    font-size: 14px;
}

.delpic {
    position: absolute;
    top: -30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all .5s;
    background: #0000008c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    right: 10px;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#startPlace {
    position: relative;
    height: 95vh;
}

#startPlace .center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 700px;
    height: 400px;
    transform: translateX(-50%) translateY(-45%);
}

.str {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-top: 40px;
}

#banner {
    background-size: cover;
    position: relative;
    height: 90vh;
    display: none;
}

#banner .left {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(calc(-20% - 500px)) translateY(-50%);
}

#banner .right {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateX(calc(20% + 500px)) translateY(-50%);
}

.drag-wrapper {
    width: 500px;
    height: 500px;
    position: relative;
    border: 4px dotted #2698df;
    overflow: hidden;
    background: #fff;
}

.drag-wrapper .placelabel {
    text-align: center;
    color: #2698df;
    font-size: 20px;
    width: 140px;
}

.string {
    color: #2698df;
    font-size: 32px;
    position: absolute;
    left: 50%;
    top: 3%;
}

.uploadbtns, .morebtns, .savebtns{
    background: #2698df;
    color: #fff;
    cursor: pointer;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    font-size: 24px;
    position: absolute;
}

.uploadbtns {
    left: 50%;
    bottom: 5%;
    transform: translateX(-450px);
}

.savebtns {
    left: 50%;
    bottom: 5%;
    transform: translateX(250px);
}

.morebtns {
    left: calc(50% - 100px);
    top: 40%;
}

.uploadbtns:hover, .savebtns:hover{
    opacity: .8
}

.stacking-slide {
    transition: all 0.5s ease-in-out;
    scroll-snap-align: start;
    height: 50vh;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.stacking-slide > div {
    opacity: 0.2;
    transform: translateY(8rem) scale(0.7);
    transition: all 1.5s ease-in-out;
}

.is-intersecting {
    box-shadow: 0 0 50px -12px rgba(0, 0, 0, 0.25);
}

.is-intersecting > div {
    opacity: 1;
    transform: translatey(0) scale(1);
}

.vertical-scroll-snap {
    overflow-y: hidden;
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    position: relative;
}

@keyframes move {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -53%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

#prePic, #prePicS {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: move 1.5s linear infinite;
    animation-play-state: running;
    cursor: pointer;
}

#prePicS {
    position: absolute;
    width: 700px;
    height: 400px;
}

#prePic, #prePicS:hover {
    animation-play-state: paused;
}

#inputImg, #inputImgS {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#returnImg {
    object-fit: contain;
}


/* 提示框 */
.alert {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    min-width: 300px;
    margin-left: -150px;
    padding-left: 5px;
    z-index: 99999;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert div {
    padding: 5px;
}

.alert-success {
    color: #ffffff;
    background-color: #57cea0;
}

.alert-danger {
    color: #ffffff;
    background-color: #e05757;
}

.alert-warning {
    color: #ffffff;
    background-color: #f3af66;
}

/* loading */
.zh-loading {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}

.zh-loading span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #2698df;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: scale(1.2);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(.3);
        opacity: .5
    }
}

.zh-loading span:nth-child(1) {
    left: 0;
    top: 50%;
    margin-top: -10px;
    -webkit-animation-delay: .13s
}

.zh-loading span:nth-child(2) {
    left: 14px;
    top: 14px;
    -webkit-animation-delay: .26s
}

.zh-loading span:nth-child(3) {
    left: 50%;
    top: 0;
    margin-left: -10px;
    -webkit-animation-delay: .39s
}

.zh-loading span:nth-child(4) {
    top: 14px;
    right: 14px;
    -webkit-animation-delay: .52s
}

.zh-loading span:nth-child(5) {
    right: 0;
    top: 50%;
    margin-top: -10px;
    -webkit-animation-delay: .65s
}

.zh-loading span:nth-child(6) {
    right: 14px;
    bottom: 14px;
    -webkit-animation-delay: .78s
}

.zh-loading span:nth-child(7) {
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    -webkit-animation-delay: .91s
}

.zh-loading span:nth-child(8) {
    bottom: 14px;
    left: 14px;
    -webkit-animation-delay: 1.04s
}

.zh-loading-box {
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 100%, .7);
    display: none;
}

.zh-loading-box .zh-loading-inner {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.zh-loading-box .zh-loading-inner p {
    color: #2698df;
    text-align: center;
}