<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>水印处理工具</title>
    <link type="text/css" rel="styleSheet" href="../static/css/style.css"/>
    <script src="../static/js/jquery_3.3.1.js"></script>
    <script src="../static/js/tips.js"></script>
</head>

<body>
<div class="zh-loading-box" id="loading">
    <div class="zh-loading-inner">
        <div class="zh-loading">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <p>正在处理水印···</p>
    </div>
</div>
<div id="header">
    <div id="nav1">
        <div id="tit">
            水印处理器
        </div>
    </div>
</div>
<div class="alert"></div>
<div id="startPlace" class="inPaste">
    <div class="str">一键快速去除图片水印</div>
    <div class="drag-wrapper center inDragover">
        <div id="prePicS">
            <img alt style="width: 80px;height: 73px;" src="../static/images/pic.png"/>
            <span class="placelabel">点击上传图片 支持拖拽和粘贴 </span>
            <input type="file" id="inputImgS" accept="image/png, image/jpeg"/>
        </div>
    </div>
</div>
<div id="banner">
    <div class="drag-wrapper left inDragover inPaste" id="uploadimg">
        <div id="prePic">
            <img alt style="width: 80px;height: 73px;" src="../static/images/pic.png"/>
            <span class="placelabel">点击上传图片 支持拖拽和粘贴 </span>
            <input type="file" id="inputImg" accept="image/png, image/jpeg"/>
        </div>
    </div>
    <div class="uploadbtns" onclick="uploadFiles()">去除水印</div>
    <div class="drag-wrapper right"></div>
    <div class="savebtns" onclick="saveFiles()">保存图片</div>
</div>
</body>
<script>
    let base64 = ''; //图片字符串形式
    let ftype = ''; //图片类型
    let lock = false; //图片锁, 防止手速怪
    let firstAdd = true;

    //通用获取图片函数
    function setImg(file) {
        let fd = new FileReader();
            let fivarype = file.type;//文件类型
            let suff = file.name.substring(file.name.lastIndexOf(".") + 1);//后缀名
            fd.readAsDataURL(file);
            if (/^image\/[jpeg|png|jpg]/.test(fivarype)) {
                (function (e) {
                    fd.onload = function () {
                        //返回的result是base64
                        let html = '<span class="pic" id="pictureul"><div title="移除" onclick="delpicthis(\'' + e + '\',this)" class="delpic">X</div><img alt style="object-fit: contain" src="' + this.result + '"/></span>';
                        $("#uploadimg").prepend(html);
                        document.getElementById("prePic").style.visibility = "hidden";
                        base64 = this.result.substring(this.result.indexOf(";base64,") + 8);
                        ftype = suff;
                        if (firstAdd) {
                            document.getElementById("startPlace").style.display = "none";
                            document.getElementById("banner").style.display = "block";
                            firstAdd = false;
                            uploadFiles();
                        }
                    }
                })(file.name);

            } else {
                warning_prompt('仅支持图片文件', '提示');
            }
    }


    function imgChange() {
        if (base64 !== '') {
            warning_prompt('请先删除图片再重新添加', '提示');
            return;
        }
        if (lock === true) {
            warning_prompt('图片正在加载，请稍后', '提示');
            return;
        }
        lock = true;
        let file = this.files[0];
        setImg(file);
        lock = false;
    }

    $("#inputImg").bind('change', imgChange);
    $("#inputImgS").bind('change', imgChange);

    //监听拖拽
    $('.inDragover').on('dragover', function (event) {
        event.preventDefault();//防止浏览器冒泡，直接打开文件
    }).on('drop', function (event) {
        if (base64 !== '') {
            warning_prompt('请先删除图片再重新添加', '提示');
            event.preventDefault();
            return;
        }
        if (lock === true) {
            warning_prompt('图片正在加载，请稍后', '提示');
            event.preventDefault();
            return;
        }
        if (event.originalEvent.dataTransfer.files.length > 1) {
            warning_prompt('仅支持粘贴单张图片', '提示');
            event.preventDefault();
            return;
        }
        lock = true;
        event.preventDefault();
        //数据在event的dataTransfer对象里
        let file = event.originalEvent.dataTransfer.files[0];
        //用fileReader实现图片上传
        setImg(file);
        lock = false;
    });

    //监听粘贴，仅支持截图后粘贴
    $('.inPaste').on('paste', function (eventObj) {
        let event = eventObj.originalEvent;
        if (base64 !== '') {
            warning_prompt('请先删除图片再重新添加', '提示');
            event.preventDefault();
            return;
        }
        if (lock === true) {
            warning_prompt('图片正在加载，请稍后', '提示');
            event.preventDefault();
            return;
        }
        lock = true;
        // 处理粘贴事件
        let imageRe = new RegExp(/image\/.*/);
        let fileList = $.map(event.clipboardData.items, function (o) {
            if (!imageRe.test(o.type)) return;
            return o.getAsFile();
        });
        if (fileList.length <= 0) {
            lock = false;
            return
        } else if (fileList.length > 1) {
            lock = false;
            warning_prompt('仅支持粘贴单张图片', '提示');
            return
        } else {
            let file = fileList[0];
            //用fileReader实现图片上传
            setImg(file);
        }
        //阻止默认行为即不让剪贴板内容在div中显示出来
        event.preventDefault();
        lock = false;
    });

    //移除
    function delpicthis(name, that) {
        $(that).parent().remove();
        document.getElementById("prePic").style.visibility = "visible";
        document.getElementById("inputImg").remove();
        let html = '<input type="file" id="inputImg" accept="image/png, image/jpg" />';
        $("#prePic").prepend(html);
        $("#inputImg").bind('change', imgChange);
        base64 = '';
    }

    //上传照片
    let uploading = false;//是否处于上传中
    function uploadFiles() {
        if (uploading) {
            return;
        }
        if (base64 === '') {
            warning_prompt('还未添加图片', '提示');
            return;
        }
        $.ajax({
            type: 'post',
            dataType: "text",
            data: {'type': ftype, 'str': base64},
            url: "http://127.0.0.1:5000/upload",
            beforeSend: function () {
                uploading = true;    //防止点多次
                document.getElementById("loading").style.display = "block";
            },
            success: function (data) {
                data = JSON.parse(data);  //res为base64字符串，fileType为图片后缀名
                if ($("#returnImg").length > 0) {
                    $("#returnImg").remove();
                }
                let html = '<img alt id="returnImg" src="data:image/' + data.fileType + ';base64,' + data.res + '"/>';
                $(".right").prepend(html);
                uploading = false;
                document.getElementById("loading").style.display = "none";
                success_prompt('处理成功', '提示');
            },
            error: function (e) {
                console.log("error：" + e);
                uploading = false;
                document.getElementById("loading").style.display = "none";
                fail_prompt('请求失败', '未知错误');
            }
        });
    }
</script>

